<% include partials/header %>
<% include partials/navbar %>

<div class="container">
  <h1 class="text-center fantasy"><%= pageHeader %></h1>

  <div class="text-center">
    <img src="imgs/love-icon.png" alt="">
  </div>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12">
         <form action="/memorials" method="GET" class="fantasy form-inline text-center" id="campground-search">
           <div class="form-group">
             <input type="text" name="search" placeholder="Memorial search..." class="form-control">
           </div>
           <div class="form-group">
             <input class="btn btn-prim btn-sm " id="srcBtn"  type="submit" value="Search" >
           </div>
           <div class="form-group">
             <a href="/memorials"class="btn-text">reset form</a>
           </div>
         </form>
       </div>
     </div>
   </div>


   <div class="row text-center">
     <div class="">
       <ul>
         <li><a  class="loginBtn bkBtn btn btn-large " href="/pets/new">Add A Memorial</a></li>
       </ul>
     </div>


     <div class="row text-center" id="display" >
       <% pets.forEach(function(pet){ %>
         <% if(!pet.isPrivate) { %>
         <div class="col-md-3 col-sm-6 mid ">
           <div class="small ring text-center">
             <% if (!pet.images){ %>
               <img class="img-responsive redFlower"src="/imgs/remembrance-2.jpg" alt="">
               <% } else {%>
                 <img id=""src="<%= pet.images %>" alt="">
             <%}%>
             <div class="caption">
               <h4 class="siteName fantasy"><strong><%= pet.name.toUpperCase() %></strong></h4>
             </div>
             <p class="white">
               <a  href="/pets/<%= pet._id %>" class="cursive btn btn-prim">More information</a>
             </p>

           </div>
         </div>
         <% } %>
       <% })%>
     </div>

     <!-- <ul>
       <% pets.forEach(function(pet) { %>
         <div class="col-lg-3 col-sm-4">
           <li class="petPost">
             <h3><%= pet.name.toUpperCase() %></h3>
             <p>AGE <br><%= pet.age %></p>
            <div class="text-center pic185">
              <% if (!pet.images) { %>
                <img src="/imgs/remembrance-2.jpg" width="120" alt="">
              <% } else { %>
                <img src="<%= pet.images %>"  alt="">
              <% } %>

            </div>
             <br>

             <div class="text-center">
               <strong><%= pet.gender %></strong>
               <%= pet.breed %>
               <%= pet.type %>
            </div>
           </li>
         </div>
       <% }) %>
     </ul> -->
   </div>
</div>


<% include partials/footer %>
