<% include ./partials/header %>
<% include ./partials/navbar2 %>
<div class="container">
  <h1 class="text-center heading fantasy"><%= pageHeader.toUpperCase() %> Profile Page</h1>
    <% if(currentUser._id.equals(user.id)){ %>
      <a type="" class="" data-toggle="modal" data-target="#myModal"> Profile Settings</a>
    <% } %>
  <br><br>
  <div class="row">


    <div class="col-md-8 col-md-12 col-xs-12 text-center">

      <img id="avi"src="/imgs/avatar.png" alt="">


       <p id="bio1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

       <!-- LAUNCH MODAL -->


    </div>
    <div id="list"class="col-md-4">
      <ul >
        <h2 class="fantasy"id="petList">Pets</h2><hr>
        <% pets.forEach(function(pet) { %>
          <!-- <div class="row"> -->
            <div class="col-md-12 col-sm-6 col-xs-12">
              <li>
                <h3>
                  <a class="listItem"href="/pets/<%= pet.id %>"><span class="fantasy"><%= pet.name %></span><br>
                    <% if (!pet.images){ %>
                      <img class="petImg redFlower"src="/imgs/remembrance-2.jpg" width="125"alt="">
                      <% } else {%>
                        <img id="petPic"src="<%= pet.images %>" width="125"alt="">
                    <%}%>
                  </a>
                </h3>
              </li>
            </div>
          <!-- </div> -->
       <%   }) %>
      </ul>
    </div>
  </div>

  <!-- EDIT USER MODAL BELOW -->
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Profile Settings</h4>
      </div>
      <div class="modal-body">
        <form class="enterForm" action="/register" method="POST">
          <h2 class="titleForm">Register</h2>
          <div class="form-group">
            <label for="username">User Name</label>
            <input required class="form-control" id="username"type="text" name="username" value="<%= user.username %>">
          </div>
          <div class="form-group">
            <label for="firstname">First Name <em><sub class="reqInp"> ( Vendors Only )</sub></em></label>
            <input class="form-control" id="firstname"type="text" name="fName" value="<%= user.fName %>">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name <em><sub class="reqInp"> ( Vendors Only )</sub></em></label>
            <input class="form-control" id="lastname"type="text" name="lName" value="<%= user.lName %>">
          </div>
          <div class="form-group">
            <label for="avatar">Avatar URL</label>
            <input class="form-control" id="avatar"type="text" name="avatar" value="<%= user.avatar %>">
          </div>
          <div class="form-group">
            <label for="email">Email <em><sub class="reqInp"> ( Vendors Only )</sub></em></label>
            <input class="form-control" id="email"type="text" name="email" value="<%= user.email %>">
          </div>
          <div class="form-group">
            <label for="bio">Bio</label>
              <textarea class="form-control" id="bio"type="text" name="bio"><%= user.bio %></textarea>
          </div>
          <div class="form-group">

            <div id="side">
              <label for="private">New User </label>
              <input checked class="form-control"type="radio" value="false" name="isVendor" id="private">
            </div>
            <div id="side2">
              <label for="private2">New Vendor </label>
              <input  class="form-control"type="radio" value="true" name="isVendor" id="private2">
            </div>
          </div>
          <div class="form-group">
            <label for="adminCode">Admin Code</label>
            <input  class="form-control" id="adminCode"type="text" name="adminCode" placeholder="Admin Code">
          </div>
          <div class="form-group">
            <input class="loginBtn submit"type="submit">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>



  <!-- <form action "/" method="POST" enctype="multipart/form-data">
     <input type="file" name="myimage" ></input>
     <input type="submit" name="submit" value="submit"></input>
  </form> -->

</div>
<% include ./partials/footer %>
